@use 'variables';
@use 'functions';

html {
  font-size: 93.75%;
  font-family: 'Spartan', sans-serif;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.1fr;
  gap: 5rem;
  padding: 10rem;
  max-width: 96rem;
  margin: 0 auto;
  font-weight: functions.setWeight(medium);
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  &::before {
    background: url('../images/bg-pattern-top-desktop.svg') no-repeat;
    background-position-x: 10rem;
  }
  &::after {
    background: url('../images/bg-pattern-bottom-desktop.svg') no-repeat;
    background-position: bottom;
  }
}

@media screen and (max-width: 80.625rem) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    padding: 5rem 2rem;
    &::before {
      background-position-x: -17rem;
    }
    &::after {
      background-position: bottom left;
    }
  }
}

.c-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.c-text {
  color: var(--dark-grayish-magenta);
  font-size: 1.06rem;
  &--big {
    font-size: 4rem;
    line-height: 1;
    font-weight: functions.setWeight(bold);
    color: var(--very-dark-magenta);
  }
}

@media screen and (max-width: 80.625rem) {
  .c-title {
    text-align: center;
  }
  .c-text--big {
    font-size: 2rem;
  }
}

.c-rates {
  display: grid;
  align-items: center;
}
.c-rate {
  display: flex;
  align-items: center;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 5px;
  color: var(--very-dark-magenta);
  font-weight: functions.setWeight(bold);
  background: var(--light-grayish-magenta);
  &:nth-child(1) {
    justify-self: flex-start;
  }
  &:nth-child(2) {
    justify-self: center;
  }
  &:nth-child(3) {
    justify-self: flex-end;
  }
}

@media screen and (max-width: 80.625rem) {
  .c-rates {
    gap: 1rem;
  }
  .c-rate {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    &:nth-child(1) {
      justify-self: stretch;
    }
    &:nth-child(2) {
      justify-self: stretch;
    }
    &:nth-child(3) {
      justify-self: stretch;
    }
  }
}

.c-rate-5 {
  display: flex;
  gap: 0.5rem;
  margin: 0 1rem;
}

.c-reviews {
  grid-column: 1 / -1;
  display: flex;
  gap: 3rem;
}

.c-review {
  flex: 1;
  background: var(--very-dark-magenta);
  padding: 2rem;
  border-radius: 10px;

  &:nth-child(1) {
    align-self: flex-start;
  }
  &:nth-child(2) {
    align-self: center;
  }
  &:nth-child(3) {
    align-self: flex-end;
  }

  &__person {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__avatar {
    border-radius: 50%;
    max-width: 20%;
    padding: 0.5rem;
  }
  &__title {
    font-size: 1rem;
    color: var(--white);
  }
  &__verified {
    font-size: 0.8rem;
    font-weight: functions.setWeight(normal);
    color: var(--soft-pink);
  }
  &__text {
    margin-top: 2rem;
    font-size: 0.95rem;
    font-weight: functions.setWeight(normal);
    color: var(--white);
  }
}

@media screen and (max-width: 80.625rem) {
  .c-reviews {
    gap: 1rem;
    flex-direction: column;
  }
  .c-review__text {
    font-size: 0.8rem;
  }
  .c-review__avatar {
    padding: 0;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
